$default-font-list: "Lora","Noto Serif SC","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
                    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$mono-font-list: Menlo, Meslo, "Noto Mono", "Source Code Pro", monospace;
$sans-preferred-font-list: $default-font-list;

$side-container-width: 25%; //280px;
$extra-container-width: 25%;
$extra-container-pagination-width: 64px;
$stream-container-max-width: 1620px;

$nav-title-size: 30px;
$nav-subtitle-size: 18px;
$nav-link-size: 20px;
$nav-footer-size: 12px;
$post-title-size: 30px;
$post-subtitle-size: 14px;
$post-summary-size: 16px;
$post-body-size: 16px;
$post-meta-size: 16px;
$tag-category-title-size: 22px;
$toc-size: 16px;

$single-column-max-width: 1020px;
$single-column-drawer-width: 260px;
$single-column-nav-title-size: 28px;
$single-column-nav-subtitle-size: 20px;
$single-column-nav-link-size: 18px;
$single-column-nav-footer-size: 13px;
$single-column-post-title-size: 22px;
$single-column-post-summary-size: 16px;
$single-column-post-body-size: 16px;
$single-column-post-meta-size: 14px;
$single-column-tag-category-title-size: 14px;
$single-column-toc-size: 14px;

$nav-item-hover-background-alpha: 0.02;
$nav-item-hover-indicator-alpha: 0.6;
$nav-item-hover-color-emphasis: 30%;
$nav-item-active-background-alpha: 0.03;
$nav-item-active-background-alpha-night: 0.1;
$nav-item-active-color-emphasis: 20%;

// $nav-item-hover-indicator-alpha: 0.6;
// $nav-item-hover-color-lighten: 30%;
// $nav-item-active-background-alpha: 0.1;
// $nav-item-active-color-lighten: 20%;

$h1: 30px;
$h-diff: 3px;
