$color-accent: #037BBA;
// $color-accent: #330000;
// $color-accent: purple;

@mixin theme-day {
  --back-container-background: #fcfcfc;
  --front-container-background: #ffffff;

  --emphasis-accent: #{darken($color-accent, 10%)};
  --extra-emphasis-accent: #{darken($color-accent, 50%)};
  --color-text: var(--extra-emphasis-accent);

  @if lightness($color-accent) <20% {
    --emphasis-accent: #{$color-accent};
    --extra-emphasis-accent: #{$color-accent};
    --color-text: #{$color-accent};
  }
}

@mixin theme-night {
  --back-container-background: #212121;
  --front-container-background: #282828;

  --emphasis-accent: #{lighten($color-accent, 10%)};
  // lighten($color-accent, $nav-item-hover-color-emphasis);
  // #{lighten($color-accent, 10%)};
  --extra-emphasis-accent: #{lighten($color-accent, 30%)};
  --color-text: #{darken(#fff, 10%)};

    @if lightness($color-accent) <20% {
    --emphasis-accent: #{lighten($color-accent, 30%)};
    --extra-emphasis-accent: #{lighten($color-accent, 50%)};
    --color-text: #{darken(#fff, 10%)};
  }
}
