$color-accent: #037BBA;
// $color-accent: #330000;
// $color-accent: purple;

@mixin theme-day {
  --back-container-background: #fcfcfc;
  --front-container-background: #ffffff;
  --mark: rgb(255,212,0,10%);

  --color-accent: #{$color-accent};
  --emphasis-accent: #{darken($color-accent, 10%)};
  --middle-accent: #{darken($color-accent, 50%)};
  --color-text: black;

  @if lightness($color-accent) <20% {
    --emphasis-accent: #{$color-accent};
    --middle-accent: #{$color-accent};
  }
}

@mixin theme-night {
  --back-container-background: #212121;
  --front-container-background: #282828;
  --mark: rgb(255,212,0,20%);

  --color-accent: #{$color-accent};
  --emphasis-accent: #{mix($color-accent, white, 50%)};
  // lighten($color-accent, $nav-item-hover-color-emphasis);
  // #{lighten($color-accent, 10%)};
  --middle-accent: #{mix($color-accent, white, 30%)};
  --color-text: #{darken(#fff, 10%)};

  @if lightness($color-accent) <20% {
    --color-accent: #{mix($color-accent, white, 50%)};
    --emphasis-accent: #{mix($color-accent, white, 45%)};
    --middle-accent: #{mix($color-accent, white, 25%)};
  }
}
