body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

// navbar
.navbar>.container,
.navbar>.container-fluid {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-pack:justify;
  justify-content:space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .sticky-top {
    position:-webkit-sticky;
    position:sticky;
    top:0;
    z-index:1020
  }
}

// post
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

code {
  font-size: 87.5%;
  word-break: break-word;
}

pre {
  display: block;
  font-size: 87.5%;
}

blockquote {
  margin: 0 0 1rem;
}

kbd {
  padding: .2rem .4rem;
  font-size: 87.5%;
  border-radius: .2rem;
}

// .table, .table-responsive, .table-hover, .table-striped
table, .table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  & thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;

  }
  & td, & th{
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: .75rem;
  }

  & tbody tr:hover {
    background-color: rgba(0,0,0,.075);
  }

  & tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0,0,0,.05);
  }
}

mark, .mark {
  padding: .2em;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
