<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" x-ms-format-detection="none">
<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
{{- partial "head.html" . -}}
<script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
<body>

<section class="a11y-links">
<a class="a11y-links__link" tabindex="0" href="#content">{{- i18n "skip_to_main" -}}</a>
</section>

<div id="app">
  {{- partial "mobile-header.html" . -}}
  {{/* mobile header */}}
  <main id="content">

  <div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
      <div class="post">
        <div class="post-head-wrapper-text-only">
          <div class="post-title">
            <h1 class="post-title-main">{{- i18n "search" -}}</h1>
          </div>
          <div id="search"></div>
          <script>
            window.addEventListener('DOMContentLoaded', (event) => {
              new PagefindUI({ element: "#search" });
            });
          </script>
        </div>{{/* close post-head-wrapper-text-only */}}
      </div>{{/* close post */}}
    </div>{{/* close post-list-container */}}
  </div>{{/* close stream-container */}}
  </main>

  {{- partial "sidebar.html" . -}}
  {{- partial "extrabar.html" . -}}
</div>{{/* close app */}}

<footer>
</footer>

{{- partial "footer.html" . -}}
</body>
</html>
