<head>
<title>{{.Title}} - {{ .Site.Params.title }}</title>

{{ $description := .Params.description}}
{{ if .IsHome }}
{{ $description = .Site.Params.description}}
{{ end }}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="address=no">
<meta name="format-detection" content="email=no">
<meta name="description" content="{{ $description }}">
<meta name="referrer" content="no-referrer">
<meta http-equiv="x-dns-prefetch-control" content="off">

<!-- platform specific -->
<meta name="renderer" content="webkit">
<meta name="theme-color" content="#ffffff">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- Google Analysis -->
{{ with .Site.Params.googleSiteVerification }}
<meta name="google-site-verification" content="{{ . }}">
{{ end }}

<!-- noindex -->
{{ if .Params.noindex }}
<meta name="robots" content="noindex">
<meta name="googlebot" content="noindex">
{{ end }}

<!-- rss feed -->
{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- open-graph -->
{{ if .Site.Params.enableOpenGraph }}
{{ template "_internal/opengraph.html" . }}
{{end}}

<!-- twitter-cards -->
{{ if .Site.Params.enableTwitterCards }}
{{ template "_internal/twitter_cards.html" . }}
{{ end }}

<!-- metadata -->
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics.html" . }}
{{ end }}

<!-- main css & js -->
<link type="text/css" rel="stylesheet" href="{{"/vendor/css/bootstrap.min.css" | relURL}}" />
<script src="{{"/vendor/js/vue.min.js" | relURL}}" ></script>

{{if .Params.canonicalUrl}}
<link rel="canonical" href="{{.Params.canonicalUrl}}" />
{{end}}

{{if .Site.Params.manifest}}
<link rel="manifest" href="{{.Site.Params.manifest}}" />
{{end}}

{{ if .Site.Params.favicon }}
<link rel="icon" href="{{ .Site.Params.favicon | absURL }}" />
{{ end }}

{{ if .Site.Params.touchicon }}
<link rel="apple-touch-icon" href="{{ .Site.Params.touchicon | absURL }}" />
{{ end }}

{{ $styles := resources.Get "scss/journal.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen" />

{{ if not .Site.Params.disableDarkmode }}
{{ $darkmode := resources.Get "scss/dark-mode.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $darkmode.Permalink }}" integrity="{{ $darkmode.Data.Integrity }}" media="screen" />
{{ end }}

<!-- custom CSS (site wide) under ./assets/css/ -->
{{ if .Site.Params.customCSS }}
{{ $style := resources.Match "css/**.css" | resources.Concat "custom.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen" />
{{ end }}

<!-- custom CSS (page-wise) under each page folder -->
{{ if .Params.css.file }}
  {{ with $.Resources.Match "**.css" }}
  {{ $style := . | resources.Concat "extra.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen" />
  {{ end }}
{{ end }}
{{ if .Params.css.src }}
  <link rel="stylesheet" href="{{ .Params.css.src }}" media="screen" />
{{ end }}

<!-- asynchronously load Google Fonts -->
<!-- https://csswizardry.com/2020/05/the-fastest-google-fonts/#google-fonts-async-snippet -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preload" as="style"
      href="https://fonts.googleapis.com/css?family=Lora|Noto+Serif+SC|Material+Icons&display=swap" />
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lora|Noto+Serif+SC|Material+Icons&display=swap"
      media="print" onload="this.media='all'" />
<noscript>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lora|Noto+Serif+SC|Material+Icons&display=swap" />
</noscript>

{{ if .Params.enableMathJax }}
{{- partial "mathjax.html" . -}}
{{ end }}

{{ if and (not (.Params.disableToC) ) (.IsPage) }}
  {{ if not .Site.Params.enableAutoCollapse }}
    <script src="{{"/js/toc.js" | relURL}}"></script>
  {{ else }}
    <script src="{{"/vendor/js/jquery.min.js" | relURL}}" ></script>
    <script src="{{"/js/toc-collapse.js" | relURL}}"></script>
    <script src="{{"/vendor/js/bootstrap.min.js" | relURL}}" ></script>
  {{ end }}
{{ end }}

<!-- comments -->
{{- if not .Site.IsServer -}}
  {{ if and (.Site.Params.enableGitalk) (.IsPage) }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
  <script src="{{"/vendor/js/md5.min.js" | relURL}}"></script>
  <script>
    var gitalk = new Gitalk({
    clientID: '{{ .Site.Params.Gitalk.client_id }}',
    clientSecret: '{{ .Site.Params.Gitalk.client_secret }}',
    repo: '{{ .Site.Params.Gitalk.repo }}',
    owner: '{{ .Site.Params.Gitalk.owner }}',
    admin: ['{{ .Site.Params.Gitalk.owner }}'],
    id: md5(location.pathname),
    distractionFreeMode: 'false'
    });
    window.onload = function () {
          gitalk.render('gitalk-container')
    }
  </script>
  {{ end }}

  {{ if and (.Site.Params.livereId) (.IsPage) }}
  <script type="text/javascript">
  $(
    (function(d, s) {
        var j, e = d.getElementsByTagName(s)[0];

        if (typeof LivereTower === 'function') { return; }

        j = d.createElement(s);
        j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
        j.async = true;

        e.parentNode.insertBefore(j, e);
    })(document, 'script'));
  </script>
  {{ end }}

  {{ if and (.Site.Params.enableValine) (.IsPage) }}
  <script src='https://unpkg.com/valine@1.4.14/dist/Valine.min.js'></script>
  {{ end }}

  {{ if and (.Site.Params.disqusShortname) (.IsPage) }}
  <script src="https://cdn.jsdelivr.net/npm/vue-disqus@3/dist/vue-disqus.js"></script>
  {{ end }}

  {{ if and (.Site.Params.enableTwikoo) (.IsPage) }}
  <script src="https://cdn.jsdelivr.net/npm/twikoo@1.3.0/dist/twikoo.all.min.js"></script>
  {{ end }}

  {{ if and (.Site.Params.walineServer) (.IsPage) }}
  <script src="//cdn.jsdelivr.net/npm/@waline/client/dist/Waline.min.js"></script>
  {{ end }}
{{- end -}}

<!-- head custom -->
{{- partial "extended_head.html" . }}
</head>
