:root {
  --diffcode-add: #e6f7e6;
  --diffcode-remove: #f7e7e7;
}

body.night {
  --diffcode-add: #1f3f1f;
  --diffcode-remove: #401e1e;
}

.chroma {
  [data-add], [data-remove] {
    position: relative;

    &::before {
      position: absolute;
      right: calc(100% + 3px);
      font-weight: 700;
      pointer-events: none;
      user-select: none;
      filter: brightness(.7)saturate(7);

      body.night & {
        filter: brightness(2.3);
      }
    }
  }

  [data-add]{
    background-color: var(--diffcode-add);

    &::before {
      content: "+";
      color: var(--diffcode-add);
    }
  }

  [data-remove]{
    background-color: var(--diffcode-remove);

    &::before {
      content: "-";
      color: var(--diffcode-remove);
    }
  }
}
