{{- $prefix := "https://" -}}
{{- $baseUrl := .Get 0 -}}
{{- $id := .Get 1 -}}
{{- $json := getJSON $prefix $baseUrl "/api/v1/statuses/" $id -}}
{{- $cw := $json.spoiler_text -}}

{{ if eq $cw "" }}
<blockquote class="fediverse-status">
  <div class="fediverse-status__content">
  {{- $json.content | markdownify -}}
  </div>
  <footer>&mdash;&nbsp;<cite>{{- $json.account.display_name -}}&nbsp;(@{{- $json.account.acct -}}&#8203;@{{- $baseUrl -}}) <a href="{{- $json.url -}}">{{- dateFormat "January 2, 2006" $json.created_at -}}</a></cite></footer>
</blockquote>
{{ else }}
<blockquote class="fediverse-status fediverse-status-cw">
  <details class="fediverse-status-cw__content">
      <summary class="fediverse-status-cw__label">
          <span class="fediverse-status-cw__tag">{{ i18n "click_to_open" }}</span>
          <span class="fediverse-status-cw__spoiler-text">{{- $json.spoiler_text | markdownify -}}</span>
      </summary>
      {{- $json.content | markdownify -}}
  </details>
  <footer>&mdash;&nbsp;<cite>{{- $json.account.display_name -}}&nbsp;(@{{- $json.account.acct -}}&#8203;@{{- $baseUrl -}}) <a href="{{- $json.url -}}">{{- dateFormat "January 2, 2006" $json.created_at -}}</a></cite></footer>
</blockquote>
{{ end }}
